<h1 class="titulo">Catálogo</h1>

<div class="topbox">
  <div class="containersearch">
    <input class="inputsearch" type="text" placeholder="Pesquisar" ngModel (ngModelChange)="procurar($event)">
    <fa-icon class="iconSearch" [icon]="faMagnifyingGlass"></fa-icon>
  </div>

</div>

<div class="casas">
  <app-casa
    *ngFor="let i of listaCasas"
    [featured_photo]="i.featured_photo"
    [city]="i.city"
    [country]="i.country"
    [host_type]="i.host_type"
    [price]="i.price"
    [rating]="i.rating"
    [id]="i.id"
    [title]="i.title"
    tipo="catalogo"
  ></app-casa>

</div>

<div class="rescontainer">
  <div class="maisres" (click)=maisResultados() *ngIf="!loading">Mais resultados</div>
</div>


<div class="loadercontainer">
  <div class="loader" *ngIf="loading"></div>
</div>



