<h1 class="titulo">Meus Favoritos</h1>

<div class="paiscontainer" *ngFor="let p of listapaises">

  <h2 class="pais">{{p}}</h2>

  <div *ngFor="let i of listafavoritos">

    <div *ngIf="i.country === p">

      <app-favorito
        [featured_photo]="i.featured_photo"
        [city]="i.city"
        [country]="i.country"
        [host_type]="i.host_type"
        [price]="i.price"
        [rating]="i.rating"
        [id]="i.id"
        [title]="i.title"
        tipo="catalogo"
      ></app-favorito>

    </div>
  </div>
</div>
