<div class="navcontainer">

  <div class="catalogo" routerLink="catalogo"  routerLinkActive="active">
    <a >
      <fa-icon class="lupa" [icon]="faMagnifyingGlass"  routerLinkActive="active" ></fa-icon>
    </a>
  </div>

    <img class="imghome" src="../../../assets/logo_menu.svg" routerLink="home" routerLinkActive="active" />


  <div class="favoritos" routerLink="favoritos" routerLinkActive="active">
    <a >
      <fa-icon class="heart" [icon]="faHeart" routerLinkActive="active" ></fa-icon>
    </a>
  </div>


</div>
