<!--<div class="wrapper">-->

<div class="textotop">
  <h1 class="titulo">{{this.objDetalhe.title}}</h1>

  <div class="ratlocal">

    <fa-icon class="iconStar" [icon]="faStar"></fa-icon>

    <p class="rating">{{this.objDetalhe.rating | number: '1.0-1':'pt' }}</p>

    <p class="dot">&#x2022; </p>
    <p> {{this.objDetalhe.city}}, {{this.objDetalhe.country}}</p>

  </div>

</div>


<div  class="imagem" [ngStyle]="{'background-image': 'url('+this.objDetalhe.featured_photo+')'}">
  <fa-icon class="iconHeart" (click)="casasService.toggleFavorite(this.objDetalhe.id)"
           [icon]="casasService.isFavorite(this.objDetalhe.id) ? faHeartFull : faHeart"
  ></fa-icon>
</div>


<div class="preco">
  <b>{{this.objDetalhe.price}}€</b> noite

</div>

<div class="descricao">
  <p>
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  </p>
</div>


<div class="bonecos">
  <fa-icon class="icon" [style.backgroundColor]="this.listFeatures.includes('petsAllowed') ? '#004F63' : 'darkgray'"
           title="Pets Allowed" [icon]="faDog"></fa-icon>
  <fa-icon class="icon" [style.backgroundColor]="this.listFeatures.includes('tv') ? '#004F63' : 'darkgray'"
           title="TV" [icon]="faTv"></fa-icon>
  <fa-icon class="icon" [style.backgroundColor]="this.listFeatures.includes('washingMachine') ? '#004F63' : 'darkgray'"
           title="Washing Machine" [icon]="faCircleStop"></fa-icon>
  <fa-icon class="icon" [style.backgroundColor]="this.listFeatures.includes('wifi') ? '#004F63' : 'darkgray'"
           title="WI-FI" [icon]="faWifi"></fa-icon>
  <fa-icon class="icon" [style.backgroundColor]="this.listFeatures.includes('airConditioner') ? '#004F63' : 'darkgray'"
           title="Air Conditioner" [icon]="faTemperatureLow"></fa-icon>
  <fa-icon class="icon" [style.backgroundColor]="this.listFeatures.includes('smokingAllowed') ? '#004F63' : 'darkgray'"
           title="Smoking Allowed" [icon]="faSmoking"></fa-icon>
  <fa-icon class="icon" [style.backgroundColor]="this.listFeatures.includes('fireplace') ? '#004F63' : 'darkgray'"
           title="Fireplace" [icon]="faFireBurner"></fa-icon>
  <fa-icon class="icon" [style.backgroundColor]="this.listFeatures.includes('microwave') ? '#004F63' : 'darkgray'"
           title="Microwave" [icon]="faTablet"></fa-icon>
</div>


<div class="host">
  <app-pessoa
    [photo]="objHost.photo"
    [name]="objHost.name"
    [rating]="objHost.rating"
    tipo="Host"
  ></app-pessoa>
</div>


<div class="galeria">
  <h2>Galeria</h2>
  <div>
    fotos
  </div>
</div>

<div class="comentarios">
  <h2>Comentários</h2>
  <app-pessoa
    *ngFor="let i of listReviews"
    [photo]="i.photo"
    [name]="i.name"
    [date]="i.date"
    [comment]="i.comment"
    tipo="Review"
  ></app-pessoa>
</div>
