
.textotop {
  display: flex;
  flex-direction: column;
  padding-top: 10px;

  .titulo {
    margin: 0;
    font-size: 26px;;
  }

  .ratlocal {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    *
    {
      margin: 0 5px 30px 0;
    }


    .dot {
      color: darkgray;
      font-size: 7pt;
    }
  }
}

.preco {
  margin-top: 15px;
  font-size: 20px;
}

.descricao {
  color: #315555;
  font-style: italic;
  margin-top: 15px;
  text-align: justify;
}

.mudarcor {
  color: #004F63;
}

