<div class="textotop mudarcor">
  <h1 class="titulo">{{objDetalhe.title}}</h1>

  <div class="ratlocal">
    <fa-icon class="iconStar" [icon]="faStar"></fa-icon>
    <p class="rating">{{objDetalhe.rating | number: '1.0-1':'pt' }}</p>
    <p class="dot">&#x2022;</p>
    <p> {{objDetalhe.city}}, {{objDetalhe.country}}</p>
  </div>

</div>


<app-imagem
  [id]=id
  [title]=objDetalhe.title
  [featured_photo]=objDetalhe.featured_photo
></app-imagem>

<div class="preco mudarcor"><b>{{objDetalhe.price}}€</b> noite</div>

<div class="descricao">{{objDetalhe.description}}</div>

<app-features [id]="id"></app-features>

<div class="host">
  <app-pessoa
    [photo]="objHost.photo"
    [name]="objHost.name"
    [rating]="objHost.rating"
    [country]="objDetalhe.country"
    [city]="objDetalhe.city"
    tipo="Host"
  ></app-pessoa>
</div>

<h2 class="mudarcor">Galeria</h2>

<app-fotoscasa [id]="id"></app-fotoscasa>

<h2 class="mudarcor">Comentários</h2>

<app-comentarios class="mudarcor" [id]="id" [city]="objDetalhe.city"></app-comentarios>
