.pessoacontainer {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: #004F63;
  background-color: rgb(246, 246, 246);
  border-radius: 5px;
  padding: 10px;


  .fotopessoa {
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    height: 60px;
    width: 60px;
    margin-left: 0;
    margin-right: 20px;
    justify-content: flex-start;
  }

  .textohost {

    .nome {
      margin: 0;
    }

    .ratinghost {
      display: flex;
      width: 100%;
      align-items: center;
      margin: 0;
      height: min-content;

      .iconStar {
        font-size: 12px;
        margin: 0;
        padding-right: 5px;
      }

      .rating {
        margin: 0;
        font-size: 13px;
      }
    }
  }
}


.selftext{
  margin: 15px 0;
  color: #244e62 ;
  text-align: justify;
}
