<div class="pessoacontainer">

  <div class="fotopessoa" [ngStyle]="{'background-image': 'url(' + photo + ')'}"></div>

  <div class="textohost">

    <p class="nome">{{name}}</p>

    <div class="ratinghost">
      <fa-icon class="iconStar" *ngIf="tipo ==='Host'" [icon]="faStar"></fa-icon>
      <p class="rating" *ngIf="tipo ==='Host'">{{rating | number: '1.0-1':'pt'}}</p>
      <p class="rating" *ngIf="tipo ==='Review'">{{date}}</p>
    </div>
  </div>
</div>

<div class="selftext" *ngIf="tipo ==='Host'">
  Nasci em {{country}} e apesar de ter viajado pelo mundo foi em {{city}} que criei as minhas raízes.
</div>

<div class="selftext" *ngIf="tipo ==='Review'">
  {{comment}}
</div>
